In [1]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Workshop 06 dataset.zip', sep=
'\t')

In [4]:
df.head()

,transaction_ID,Date,Time,item_0,item_1,item_2,item_3,item_4,item_5,item_6,...,item_31,item_32,item_33,item_34,item_35,item_36,item_37,item_38,item_39,item_40
0,536365,01/12/2010,08:26,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,CREAM CUPID HEARTS COAT HANGER,KNITTED UNION FLAG HOT WATER BOTTLE,RED WOOLLY HOTTIE WHITE HEART,SET 7 BABUSHKA NESTING BOXES,GLASS STAR FROSTED T-LIGHT HOLDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536366,01/12/2010,08:28,HAND WARMER UNION JACK,HAND WARMER RED POLKA DOT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536367,01/12/2010,08:34,ASSORTED COLOUR BIRD ORNAMENT,POPPY'S PLAYHOUSE BEDROOM,POPPY'S PLAYHOUSE KITCHEN,FELTCRAFT PRINCESS CHARLOTTE DOLL,IVORY KNITTED MUG COSY,BOX OF 6 ASSORTED COLOUR TEASPOONS,BOX OF VINTAGE JIGSAW BLOCKS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,536368,01/12/2010,08:34,JAM MAKING SET WITH JARS,RED COAT RACK PARIS FASHION,YELLOW COAT RACK PARIS FASHION,BLUE COAT RACK PARIS FASHION,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,536369,01/12/2010,08:35,BATH BUILDING BLOCK WORD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(31941, 44)

In [6]:
STUDENT_NAME = 'MameFasseSALL'
STUDENT_NO = '1202'

In [7]:
np.random.seed(int(STUDENT_NO))
unique_id = int('2' + STUDENT_NO)
rows = np.random.choice(df.index.values, unique_id)
data = df.loc[rows]

In [8]:
file_name = STUDENT_NAME + "_" + STUDENT_NO + "_6.csv"
data.to_csv(file_name)

In [9]:
data.shape

(21202, 44)

In [10]:
data.nunique()

transaction_ID    13493
Date                305
Time                732
item_0             2753
item_1             2547
item_2             2499
item_3             2443
item_4             2432
item_5             2402
item_6             2383
item_7             2378
item_8             2333
item_9             2275
item_10            2294
item_11            2226
item_12            2224
item_13            2166
item_14            2158
item_15            2138
item_16            2063
item_17            2085
item_18            2082
item_19            2016
item_20            1979
item_21            1937
item_22            1924
item_23            1896
item_24            1931
item_25            1891
item_26            1822
item_27            1803
item_28            1791
item_29            1770
item_30            1741
item_31            1688
item_32            1684
item_33            1647
item_34            1654
item_35            1640
item_36            1628
item_37            1590
item_38            1577
item_39            1557
item_40            1535
dtype: int64

In [11]:
data['Hour'] = pd.to_datetime(data['Time'], format='%H:%M').dt.hour